@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body p, a, div, section, section, img, h1, h2, h3 {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;

    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #edf2f8;
}

.reviews-container {
    max-width: 1200px;
    max-height: 696px;
    margin: 0 auto;
    margin-bottom: 150px;
    display: grid;
    gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: 
    "item1 item1 item2 item5"
    "item3 item4 item4 item5"
    ;
}


@media (max-width: 900px) {
    .reviews-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "item1 item1 item2"
        "item5 item5 item5"
        "item3 item4 item4"
        ;
    }
}

@media (max-width: 650px) {
    .reviews-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        ;
    }

}

.review-container {
    border-radius: 8px;
    padding: 30px;
}

.review-container .profile-virified, .review-text {
    color: black;
}

.reviews-container .item1 {
    position: relative;
    /* grid-column: span 2; */
    background-color: #733fc8;
    grid-area: item1;
}

.reviews-container .item1 .bg-pattern {
    position: absolute;
    right: 10%;
    top: 0px;

    min-width: 20.5%;

}

.reviews-container .item1 article {
    position: relative;
    z-index: 2;
    margin-right: 20px;
}

.reviews-container .item2 {
    background-color: #49556b;
    grid-area: item2;
}

.reviews-container .item3 {
    background-color: white;
    grid-area: item3;
}

.reviews-container .item4 {
    /* grid-column: span 2; */
    background-color: #18202d;
    grid-area: item4;
}

.reviews-container .item5 {
    /* grid-column: 4;
    grid-row: 1 / 3; */
    background-color: white;
    grid-area: item5    ;
}

.review-container {
    box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.050);
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 40px;
}

.profile-info > img {
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.568);
    border-radius: 50%;
    margin-right: 15px;
}

.reviews-container * {
    line-height: 1.35em;
}

.review-container .profile-info .profile-virified,
.review-container article .review-text {
    font-size: 0.9em;
    color: #000000b0;
}

.reviews-container .review-container .profile-name {
    font-size: 1em;
    color: #373742;
}

 .review-container .review-title {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #373742;
}

.reviews-container .dark-background .review-title,
.reviews-container .dark-background .profile-name {
    color: #fffffff2;
}

.dark-background  .profile-info .profile-virified,
.dark-background  article .review-text { 
    color: #ffffff80;
}
